body{
    /* background-color: #9c27b091 !important; */
    background-image: url('https://img.freepik.com/free-photo/dark-room-exhibits-modern-feel-with-orange-neon-lights_337307-114.jpg');
    background-size: cover;
}
.btn-outline-warning{
    color:orange;
    box-shadow: 0 0 20px orange;
    margin: 60px;
}
.buttonsgrp{
        
      text-align: center;
}
.topscore{
    text-align: center;
    margin:100px 250px 100px 250px;
    color:rgba(255, 166, 0, 0.591);
    text-shadow:0 0 8px orange, 0 0 10px orange, 0 0 60px orange;
}
.buttonsgrp{
    margin:50px 350px 50px 350px;
}
.imgcont{
    margin: 10px 350px 10px 350px;
    text-align: center;
}
img{
    height:100px;
    width:100px;

}
/* #compimg{
    transform: rotate(180deg);
} */
.score{
    text-align: center;
    margin:0;
}
#result{
   
    color:rgba(255, 166, 0, 0.591);
    text-shadow:0 0 8px orange, 0 0 10px orange, 0 0 60px orange;
}
#resultdiv{
    text-align: center;
    margin-top:150px;
    display: none;
}
